/*!
 *../document/css/app.css
 */

.logo{
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color:black;
}

 header a:hover{
   text-decoration: none;
   color: black;
 }

 .fa-search{
  margin-right: 30px;
 }
 nav {
   padding: 30px  0   ;
 }

 nav ul li{
   padding: 0 10px ;
   position:
 }
 .blog-sidebar a, header a, nav a{
 color:#6c757d;
 }

  .blog-sidebar a:hover, nav a:hover{
 color: black;
 }
 #slides img{
   position:relative;
 }

 #slides .article{
 position:absolute;
 bottom:20px;
 left:50px;
 overflow:hidden;
 background:rgb(255,255,255);
 opacity:0.8
 }

#slides {
  margin-bottom: 50px;
}

.social-icons li{
  display: inline-block;
  font-size: 30px;
}

.card-img-top {
 height:300px;
 width:100%;
}

.card-img-overlay:hover{
  background:rgb(255,255,255);
  opacity:0.8;
}
.img-post{
  align-self: center;
}
